.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}


.text {
  color: #22356F;
  font-size: 24px;
  line-height: 34px;
  max-width: 739px;
  font-style: italic;
}